<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> {{name}}씨! <br> 3년뒤 그대는 {{pick}} {{job}}  </h1>
    
    {% if job == '개발자' %}
    <img src="https://miro.medium.com/max/1200/0*7pYNAASjwKSNuhQM." alt="">
    {% elif job == '백수' %}
    <img src="http://mblogthumb2.phinf.naver.net/20160304_157/hillitoot_1457085730891rqnqc_JPEG/2.jpg?type=w2" alt="">
    {% endif %}
</body>
</html>