<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>네이버</title>
</head>
<body>
    <!-- form : 사용자로부터 입력값을 받을 수 있도록 하는 HTML
            - action : 어디로 정보를 보내는지
        input : 사용자 입력
            - type : 어떠한 종류의 입력을 받는지
            - name : 어떤 변수로 받을지
    -->
    <form action="https://search.naver.com/search.naver">
        <input type="text" name = "query">
        <input type="submit" value="검색">
    </form>
</body>
</html>