<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/pong">
        <!-- input + tab -->
        <input type="text" name = "say" placeholder = "원하는 말을 입력하세요">
        <input type="text" name = "saysay" placeholder = "원하는 말을 입력하세요">

        <!-- input:submit + tab -->
    <input type = "submit" value="뿅">   
    </form>
</body>
</html>