<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<h1>3년뒤 직업을 입력하세요</h1>
<body>
    <form action="/answer">
        Name:<br>
        <input type="text" name="name"><br>
        Job:(개발자하세오..)<br> 
        <input type="text" name="job"> 
    <input type="submit" value="과연">  
         </form>
         <br>
        
    <img width="500" height="500" src="https://st2.depositphotos.com/1793489/7392/v/950/depositphotos_73927911-stock-illustration-cartoon-professions-characters.jpg">
</body>
</html>